body{

background:LightGoldenRodYellow;
}

.wrapper{

position:fixed;
width:100%;
height:100px;
padding-left:0;
padding-right:48px;
margin-bottom:10px;
padding-bottom:10px;

}
nav{
padding-top:15px;
padding-bottom:15px;
border-bottom:2px solid black;
}
nav ul li{
display:inline-block;
margin:15px 40px 10px 80px;
padding:0 3px;
border-right:1px solid darkgreen;
}

nav ul li:last-child{
border:0;
}

nav ul li a{
color:black;
text-decoration:none;
font-weight:bold;
}

nav ul li a:hover{
background:green;
color:white;
}


.home-content{
width:1325px;

background:;
margin-left:15px;
margin-top:20px;
}

.home-col{
width:421.66px;
float:left;
background:;
margin-left:15px;
padding-bottom:15px;
border-right:2px solid black;
}


.intro{
width:1325px;
padding-left:0px;
margin-left:0px;
margin-right:5px;
background:;
padding-bottom:0;

}


.intro-image{
width:500px;
height:400px;
float:left;

padding-top:17px;
padding-right:25px;
padding-bottom:25px;



}

.intro-text{
padding-top:20px;
width:775px;
float:right;
padding-bottom:25px;

}
.home-col:last-child{
border:0;

}

.theme{
color:red;
padding-left:600px;
margin-top:0;
padding-top:0;
}


.ab h1{
padding-left:25px;
}

.ab p{
padding-left:25px;
padding-top:10px;
padding-bottom:10px;
}

.tb{
padding-left:405px;
padding-bottom:40px;
}


.typ-image{
width:1000px;

padding-top:30px;
padding-right:25px;
padding-bottom:25px;
padding-left:155px;

}


.home-content1{
width:1325px;

background:;
margin-left:15px;
margin-top:20px;
}

.home-col1{
width:421.66px;
float:left;
background:;
margin-left:15px;
margin-bottom:15px;
border-right:2px solid black;
}


.home-col1:last-child{
border:0;

}

.audi {

padding-left:25px;
padding-top:40px;
padding-bottom:15px;
}

.audi p{
color:red;
padding-left:25px;


}

.audi-img{
padding-left:25px;
padding-bottom:25px;

}

.audi-img1{
padding-left:25px;
padding-bottom:25px;
padding-top:40px;
}

.form{
padding-left:95px;
padding-bottom:25px;
padding-top:20px;
padding-right:500px;


}
.contact h1{
padding-left:95px;
padding-bottom:10px;
}
.contact p{
padding-left:95px;
padding-bottom:10px;

}

.act p{
padding-left:95px;
padding-bottom:10px;
font-size:20px;

}

.pay{

padding-left:95px;
padding-bottom:10px;
padding-top:20px;
}



.not{

padding-left:95px;
padding-bottom:10px;
padding-top:20px;

}